<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>
    <a href="/customer/list">Customer List</a>
</p>
<form th:action="@{/customer/edit}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit customer"></td>
        </tr>
    </table>
</form>
</body>
</html>